.ui.card:first-child {
  margin-top: 1em !important;
}

.image {
  background: #ccc;
  overflow: hidden;
}

.content {
  padding: 0.4em 0.4em !important;
}

.header {
  height: 45px;
}

.ImgCard img {
  object-fit: none;
}

/* .ui.card > .image > img,
.ui.cards > .card > .image > img {
  width: 125% !important;
  height: auto;
} */
