.ui.card:first-child {
  margin-top: 1em !important;
}

.image {
  background: #ccc;
  overflow: hidden;
}

.content {
  padding: 0.4em 0.4em !important;
}

.header {
  height: 25px;
}

.ImgCard img:hover {
  object-fit: none;
}
/* .ui.card {
  width: 265px !important;
} */

.ui.card > .image {
  height: 350px !important;
}

.ui.card > .image > img {
  position: absolute;
  top: -15px;
}
